# Medical AI Club Atolye Serisi

WS Bilgisi: MAI olarak sıfırdan başlayıp birkaç Derin Öğrenme projesiyle sonuçlanan bir AI atölye serisi düzenliyoruz.

# Python'a Giris

# Python

Python dilini hesap makinesi yerine de kullanabiliriz. Python grameri diger dillere gore daha kolaydir.

## Baslangic icin basit kurallar 
Python ile kodlama yapmak icin temel kurallar sunlardir:
* Bir ifadenin başlangıcında boşluk veya sekme karakterlerine izin verilmez: Girinti Python'da özel bir rol oynar. Şimdilik sadece tüm ifadelerin satır başında başladığından emin olun.
* '#' Karakteri, satırın geri kalanının bir yorum olduğunu gösterir.
* İfadeler satır sonunda bitiyor:
  * Açık parantez veya parantez olduğu durumlar hariç:
  
```
1+2
+3  #kural disi toplama ifadesi
(1+2             + 3) # gecerli bir toplama ifadesi
```
  * Satırın sonundaki tek bir ters eğik çizgi de bir ifadenin hala eksik olduğunu belirtmek için kullanılabilir.
  
```
1 + \
   2 + 3 # gecerli toplama ifadesi 
```

In [1]:
1+2+3

6

#### Pyhton'da her zaman ```help()``` ile yardim metnini okuyabilirsiniz

In [5]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

# Degiskenler & Degerler

* Bir şeyi veya değeri belirtmek için kullanılan bir isime değişken denir. Python'da değişkenler bildirilebilir ve değerler aşağıdaki gibi atanabilir;

In [3]:
x = 2          # '#' isareti yorum satirini ifade eder.
y = 5.2
xy = 'Hey'
print(x+y,'/', xy) # print() fonksiyonu ekrana deger yazdirmamizi saglar.
print('type of x is ',type(x))
print('type of y is ',type(y))
print('type of xy is ',type(xy))

7.2 / Hey
type of x is  <class 'int'>
type of y is  <class 'float'>
type of xy is  <class 'str'>

* Aynı değerde birden fazla değişkene atanabilir.

In [8]:
x = y = 1
print(x,y)

1 1

* Python'da oluşturulan temel türler arasında `float` (basamakli sayilar), `int` (tamsayılar), `str` (unicode karakter dizeleri) ve `bool` (boolean) bulunur. Her birinin bazı örnekleri:

In [11]:
2.0           # float ornegi
1e100         # googol 
-1234567890   # integer
True or False # boolean
'This is a string'
"It's another string"
print("""Triple quotes (also with '''), allow strings to break over multiple lines.
Alternatively '\n' is a newline character (\t for tab, \\ is a single backslash)""")

Triple quotes (also with '''), allow strings to break over multiple lines.
Alternatively '
' is a newline character (	 for tab, \ is a single backslash)

* Python ayrıca aşağıdaki gibi yazılabilen karmaşık numaralara sahiptir. Parantezlerin gerekli olduğunu unutmayın.

In [13]:
complex(1,2)
(1+2j) # ustteki ayni numara

(1+2j)

# Operatorler

## Aritmetik Operatorler

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [14]:
1+2

3

In [15]:
4-2

2

In [16]:
8/2

4.0

In [23]:
192%2

0

In [21]:
4*2

8

In [22]:
9//2

4

In [20]:
3**2

9

In [27]:
11**300

2617010996188399907017032528972038342491649416953000260240805955827972056685382434497090341496787032585738884786745286700473999847280664191731008874811751310888591786111994678208920175143911761181424495660877950654145066969036252669735483098936884016471326487403792787648506879212630637101259246005701084327338001

In [28]:
11.0**300

OverflowError: (34, 'Result too large')

## İliskisel Operators

| Symbol | Task Performed |
|----|---|
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |

`==` (eşitlik testi) ve `=` (atama) arasındaki farka dikkat edin

In [29]:
z = 2
z == 2

True

In [30]:
z > 2

False

* Karşılaştırmalar matematiksel olarak açık bir şekilde zincirlenebilir. Python'da beklendiği gibi çalışacaktır:

In [31]:
0.5 < z <= 1

False

# Built-in Functions

* Python geniş bir işlev yelpazesi ile birlikte gelir. Bununla birlikte, bunların çoğu, yerleşik değil, `math` kütüphanesi gibi bağımsız kütüphanelerin parçasıdır.

## Değerleri dönüştürme

Onaltılık değerden ondalık sayıya dönüştürme onaltılık değere **0x** öneki ekleyerek ya da tam tersi **hex ()**, Sekizlik ondalık sayıya ektal ekleyerek Sekizli değere ekleyerek yapılır. **oct ()** yerleşik işlevini kullanarak bunun tersini yapabilirsiniz.

In [40]:
hex(170)

'0xaa'

In [36]:
chr(0x41)

'A'

In [4]:
oct(170)

'0o252'

In [44]:
int(7.0)

7

In [45]:
float(7)

7.0

In [46]:
str(1234)

'1234'

## Matematiksel fonksiyonlar
Matematiksel fonksiyonlar, logaritmalar, trigonometrik fonksiyonlar, $\pi\$ sabiti ve benzeri gibi olağan şüphelileri içerir.

In [47]:
import math
math.sin(math.pi/2)
from math import * # avoid having to put a math. in front of every mathematical function
sin(pi/2) # equivalent to the statement above

1.0

## Diziler

Pythonda dizeler bir veya birden çok elaman tutmak için kullanılır.

* Listeler  / Lists
* Tuplelar  / Tuples
* Setler    / Sets
* Sözlükler / Dictionaries

### Lists

* `list` kelimesi python tarafından daha önceden tanımlı olduğu için variable ismini seçerken dikkatli olmalıyız.

In [46]:
listA = [1,2,3,4,5,6]

In [47]:
print(listA[0])

1

In [48]:
print(listA[-1])

6

In [49]:
listA[3] = 42

In [50]:
print(listA)

[1, 2, 3, 42, 5, 6]

In [51]:
print(len(listA))

6

In [52]:
print(listA[2:6])

[3, 42, 5, 6]

In [53]:
3 in listA

True

* **Listeye eleman eklemek**

> append

In [54]:
listA.append("Mai")
print(listA)

[1, 2, 3, 42, 5, 6, 'Mai']

> insert

In [55]:
listA.insert(2,"AI")
print(listA)

[1, 2, 'AI', 3, 42, 5, 6, 'Mai']

> remove

In [56]:
listA.remove('AI')
print(listA)

[1, 2, 3, 42, 5, 6, 'Mai']

In [57]:
del listA[4]
print(listA)

[1, 2, 3, 42, 6, 'Mai']

> pop

In [58]:
listA.pop()
print(listA)

[1, 2, 3, 42, 6]

> clear

In [59]:
listA.clear()
print(listA)

[]

* **Liste kopyalama ve referans kavramı**

In [73]:
listA = [1,1,1,1,1]
listB = listA
print("listA ", listA)
print("ListB ", listB)

listA  [1, 1, 1, 1, 1]
ListB  [1, 1, 1, 1, 1]

In [74]:
listA.append(9)
print(listA)

[1, 1, 1, 1, 1, 9]

In [75]:
print(listB)

[1, 1, 1, 1, 1, 9]

> `=` operatörü kullanarak `listB`'yi aslında `listA`'nın bellekteki adresine referans olarak göstermiş olduk. Diğer bir değişle yeni bir liste oluşturmak yerine bellekte hali hazırda bulunan listeyi kullandık. Bu yüzden `listA` üzerinde yaptığımız tüm değişiklikler `listB`'yi direkt etkiledi. Yeni bir liste oluşturmak istiyorsak `copy()` methodunu kullanmamız gerekiyor.

In [76]:
listC = listA.copy()
print(listA)
print(listC)

[1, 1, 1, 1, 1, 9]
[1, 1, 1, 1, 1, 9]

In [77]:
listA.append(8)
print("listA ",listA)
print("listB ",listB)
print("listC ", listC)

listA  [1, 1, 1, 1, 1, 9, 8]
listB  [1, 1, 1, 1, 1, 9, 8]
listC  [1, 1, 1, 1, 1, 9]

> Liste kopyalamanın bir başka yolu ise `list()` consturctor'ını kullanmaktır.

In [78]:
listD = list(listA)
print('listA ',listA)
listA.insert(2,"mai")
print("after insert")
print('listA ',listA)
print('listD ',listD)

listA  [1, 1, 1, 1, 1, 9, 8]
after insert
listA  [1, 1, 'mai', 1, 1, 1, 9, 8]
listD  [1, 1, 1, 1, 1, 9, 8]

* **2 listeyi birleştirmek**

> Listeleri birleştirmek için birden fazla yöntem kullanabiliriz. Bunlardan 2 tanesi `+` operatörü ve `extend()` methodu.

In [79]:
print('listA ',listA)
print('listB ',listB)
listA_B = listA + listB
print("listA ve listB'nin biresimi",listA_B)

listA  [1, 1, 'mai', 1, 1, 1, 9, 8]
listB  [1, 1, 'mai', 1, 1, 1, 9, 8]
listA ve listB'nin biresimi [1, 1, 'mai', 1, 1, 1, 9, 8, 1, 1, 'mai', 1, 1, 1, 9, 8]

In [80]:
print('listC ',listC)
print('listD ',listD)
listC.extend(listD)
print('listC ',listC)

listC  [1, 1, 1, 1, 1, 9]
listD  [1, 1, 1, 1, 1, 9, 8]
listC  [1, 1, 1, 1, 1, 9, 1, 1, 1, 1, 1, 9, 8]

In [81]:
del listA,listB,listC,listD

* **Sort ve Reverse**

> **Sort** \
Listeleri sıralamak için birçok algoritma bulunmakta. `sort()` metotu `TimSort` algoritmasını kullanmakta. `TimSort` algoritması `merge` ve `insertion` sort algoritmalarının birleşimi olarak düşünülebilir.

In [95]:
listA = ["v","r","n",1,7,4,9,"a"]

In [96]:
sortedList = listA.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

> Sıralama yaparken bir `string` ile `intiger` arasında kıyaslama yapılamayacağı için Python bize `TypeError` döndürmekte. Bunu gidermek için listeyi tek bir veri tipine dönüştürebiliriz.

In [113]:
listA = ["v","r","n","1","7","4","9","a"]

In [118]:
listA.sort()

In [119]:
print(listA)

['1', '4', '7', '9', 'a', 'n', 'r', 'v']

> **Reverse**

In [120]:
listA.reverse()

In [122]:
print(listA)

['v', 'r', 'n', 'a', '9', '7', '4', '1']

### Tuples

* `tuple` kelimesi `Python` tarafından daha önceden tanımlı olduğu için `list` gibi variable isimi seçerken dikkatli olmalıyız. **Tuplelar listeler gibi değiştirilebilen objeler değildir.**

In [1]:
tupA = (1,2,5,6,8)
print("tupA ",tupA)
print("type of tupA is ",type(tupA))

tupA  (1, 2, 5, 6, 8)
type of tupA is  <class 'tuple'>

In [7]:
print("second index ",tupA[2])
print("fourth index ",tupA[4])
print("last item ",tupA[-1])
print("second item form end ",tupA[-2])

second index  5
fourth index  8
last item  8
second item form end  6

In [12]:
print(tupA[2:5])
print(tupA[-5:-2])

(5, 6, 8)
(1, 2, 5)

In [13]:
tupA[1] = 7

TypeError: 'tuple' object does not support item assignment

> Gördüğünüz gibi Tuple objesi bir kere yaratıldığında içindeki elemanları değiştiremiyoruz. Bunun yerine tuple objesini listeye çevirip düzenleyebilirsiniz.

In [14]:
6 in tupA

True

In [15]:
8 in tupA

True

* 1 elemanlı `tuple` oluşturmak

In [16]:
tupB = ("mai")
tupC = ("mai",)

> Yukarıda gözüken atamalar aynı gibi gözükse de arasında bir fark var !

In [18]:
print("type of tupB",type(tupB))
print("type of tupC",type(tupC))

type of tupB <class 'str'>
type of tupC <class 'tuple'>

In [19]:
del tupA, tupB, tupC

* **2 Tuple'ı birleştirmek**

In [30]:
tup1 = (0,0,0,0)
tup2 = (1,1,1,1)

toplamTup = tup1 + tup2 
print("tup1 ",tup1)
print("tup2 ",tup2)
print("toplamTup ",toplamTup)

tup1  (0, 0, 0, 0)
tup2  (1, 1, 1, 1)
toplamTup  (0, 0, 0, 0, 1, 1, 1, 1)

* **Built-in Tupple metotları**

> `count()`

In [24]:
print("number of 0's in tup1",tup1.count(0))
print("number of 1's in tup1",tup1.count(1))

number of 0's in tup1 4
number of 1's in tup1 0

> `index()`

In [29]:
print(tup1)
print("index of 0 in tup1",tup1.index(0))

(0, 0, 0, 0)
index of 0 in tup1 0

> `tuple()` consturctor'u

In [1]:
tup2 = tuple((0,1,0,1,0,0,1)) # iç kısımda bulunan () işaretini unutmayın!

In [2]:
print(tup2)

(0, 1, 0, 1, 0, 0, 1)

In [3]:
print(len(tup2))

7

### Sets

* Setler, aynı zamanda kümeler, sırasız ve indekssiz bir koleksiyondur. Python'da kümeler süslü parantez (`{}`) içinde yazılır. `set` kelimesi `Python` tarafından daha önceden tanımlı olduğu için `list` ve `tuple` gibi variable isimi seçerken dikkatli olmalıyız. Ayrıca `set` objesi tüm tekrarlanan elementleri 1 elemente düşürür.

In [4]:
setA = {"car","truck","bus","tramway"}

In [5]:
print("setA ",setA)
print("type of setA ", type(setA))

setA  {'bus', 'truck', 'tramway', 'car'}
type of setA  <class 'set'>

In [6]:
setA[0]

TypeError: 'set' object is not subscriptable

> Gördüğünüz gibi `set` objesinde index olmadığı için `list` ve `tuple` objelerinde yaptığımız gibi bir indexleme yapamıyoruz.

In [7]:
"car" in setA

True

In [8]:
"banana" in setA

False

In [9]:
9 in setA

False

In [30]:
setB = {1,1,1,1,1,1,1,1,1,1,0,0}
print(setB)

{0, 1}

* `add()` ve `update()` fonksiyonları

In [10]:
# add() fonksiyonu set'e yeni bir eleman eklemek icin kullanilir
setA.add("metro")
print(setA)

{'metro', 'car', 'truck', 'bus', 'tramway'}

In [11]:
setA.add("metro","plane")

TypeError: add() takes exactly one argument (2 given)

> Setlere birden fazla eleman eklemek için `update()` fonksiyonu kullanılır.

In [12]:
setA.update(["plane","helicopter"])
print(setA)

{'metro', 'car', 'truck', 'bus', 'helicopter', 'plane', 'tramway'}

* `remove()`, `discard()` ve `pop()` fonksiyonları

> herhangi bir elemanı setten çıkarmak için `remove()` foksiyonu kullanılır.

In [13]:
setA.remove("bus")
print(setA)

{'metro', 'car', 'truck', 'helicopter', 'plane', 'tramway'}

> `discard()` fonksiyonu kullanarak da seti manipüle edebiliriz.

In [14]:
setA.discard("car")
print(setA)

{'metro', 'truck', 'helicopter', 'plane', 'tramway'}

> **`discard()` ve `remove()` arasındaki fark ise `remove()` foksiyonu çıkarılmak istenilen eleman sette bulunmmuyorsa bize hata _döndürecektir_. `discard()` fonksiyonu aksine bize herhangi bir hata _döndürmeyecektir_.**

In [19]:
print("is car in setA ? =>","car" in setA)
setA.remove("car")

is car in setA ? => False

KeyError: 'car'

In [17]:
print("is car in setA ? =>","car" in setA)
setA.discard("car")

is car in setA ? => False

> `pop()` fonksiyonu setin son elemanını setten çıkartır ve bize geri döndürür. Fakat setlerde bir sıra olmadığı için hangi elemanın çıkarılacağı kontrol edilmedikçe bilinmeyecektir.

In [20]:
print("before pop() setA=",setA)
removed_item = setA.pop()
print("after pop() setA=",setA)
print("removed item is ",removed_item)

before pop() setA= {'metro', 'truck', 'helicopter', 'plane', 'tramway'}
after pop() setA= {'truck', 'helicopter', 'plane', 'tramway'}
removed item is  metro

> `clear()` fonksiyonu setin tüm elemanlarını temizlemeye yarıyor.

In [21]:
print("before clear() setA=",setA)
setA.clear()
print("after clear() setA=",setA)

before clear() setA= {'truck', 'helicopter', 'plane', 'tramway'}
after clear() setA= set()

> `del` anahtar kelimesi ile tüm seti silebiliriz

In [22]:
del setA

* **2 Set'i birleştirmek**

* `union()` ve `update()` fonksiyonları ile 2 seti birleştirebiliriz. Her iki setteki tüm öğeleri içeren yeni bir küme döndüren `union()` yöntemini veya tüm öğeleri bir kümeden diğerine ekleyen `update()` yöntemini kullanabiliriz.

In [28]:
set1 = {2,3,"4","5"}
set2 = {6,7,"8","9"}

newSet = set1.union(set2) # Set2'yi set1'e eklemek yerine yeni bir obje olusturduk.

print("set1 ",set1)
print("set2 ",set2)
print("newSet ",newSet)

set1  {'4', 2, 3, '5'}
set2  {'9', '8', 6, 7}
newSet  {2, 3, '5', 6, 7, '8', '9', '4'}

In [29]:
print("before update")
print("set1 ",set1)
print("set2 ",set2)
print("\n")
set1.update(set2) # set1 objesini direk degistirdik. Yeni bir obje yaratmadik.
print("after update")
print("set1 ",set1)
print("set2 ",set2)

before update
set1  {'4', 2, 3, '5'}
set2  {'9', '8', 6, 7}


after update
set1  {2, 3, '5', 6, 7, '8', '9', '4'}
set2  {'9', '8', 6, 7}

> `set()` consturctor'u

In [32]:
setC = set((1,2,3,4,1,2,1,5,2,7,2,6))
print("setC ",setC)
print("type of setC ",type(setC))

setC  {1, 2, 3, 4, 5, 6, 7}
type of setC  <class 'set'>

### Dictionaries

* `Dictionary`, sıralanmamış, değişken ve indeksli bir koleksiyondur. Python'da sözlükler süslü parantezler içinde yazılmıştır ve `anahtar ve değerlere` (`key, value`) sahiptir. `dict` kelimesi `Python` tarafından daha önceden tanımlı olduğu için `list`, `tuple` ve `set` gibi variable isimi seçerken dikkatli olmalıyız.

In [14]:
car1={
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
    
print(car1)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

> Dictionary değerlerine indeksleme (`[]`) veya `get()` metotu ile ulaşabiliriz. Aynı zamanda değeri indeksleme yöntemi ile (`[]`) değiştirebiliriz.

In [15]:
car1["brand"]

'Ford'

In [16]:
car1.get("year")

1964

In [17]:
car1["year"] = 1970
print(car1)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1970}

> `keys()`, `values()` ve `items()` metotları kullanarak dictionaries elementlerine ulaşabiliriz.

In [18]:
print(car1.keys()) #keys metotu dictionary icindeki keyleri string olarak dondurur

dict_keys(['brand', 'model', 'year'])

In [19]:
print(car1.values()) #values metotu dictionary icindeki valuelari string olarak dondurur

dict_values(['Ford', 'Mustang', 1970])

In [20]:
print(car1.items()) #items metotu dictionary icindeki key-value pairlerini tuple olarak dondurur

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1970)])

In [21]:
print(car1)
print("checking if 'brand' is a key in car1 => ","brand" in car1)
print("checking if 'brand' is a key in car1 => ","brand" in car1.keys())
print("checking if 'Ford' is a value in car1 => ","Ford" in car1)
print("checking if 'Ford' is a value in car1 => ","Ford" in car1.values())

{'brand': 'Ford', 'model': 'Mustang', 'year': 1970}
checking if 'brand' is a key in car1 =>  True
checking if 'brand' is a key in car1 =>  True
checking if 'Ford' is a value in car1 =>  False
checking if 'Ford' is a value in car1 =>  True

> **Dictionary'ye eleman eklemek** 
    - indeksleme ([])

In [22]:
car1["color"] = "red"
print(car1)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1970, 'color': 'red'}

> `update()` fonksiyonu

In [23]:
car1.update({"condition":"used"})
print(car1)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1970, 'color': 'red', 'condition': 'used'}

> **Dictionary'den eleman silmek** <br>-`popitem()` #En son eklenen değeri siler. (python 3.7 öncesinde rastgele eleman çıkarmaktaydı.)<br>-`pop()` #Verilen key değerini siler.<br>-`del` #İndekslenmiş değeri siler. Tüm dictionary'yi de silebilirsiniz. <br>-`clear()` #Dictionary'yi temizler.

In [24]:
car1.pop("color")
print(car1)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1970, 'condition': 'used'}

In [25]:
car1.popitem()
print(car1)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1970}

In [26]:
del car1["year"]
print(car1)

{'brand': 'Ford', 'model': 'Mustang'}

In [27]:
car1.clear()
print(car1)

{}

In [28]:
del car1

> `dict()` consturctor'u ve `copy()` metotu

In [30]:
child1 = {
    "name" : "Baris",
    "bday" : "13 Oct 1997"
}

baris = child1

print("child1 ",child1)
print("baris ",baris)

child1  {'name': 'Baris', 'bday': '13 Oct 1997'}
baris  {'name': 'Baris', 'bday': '13 Oct 1997'}

In [31]:
child1.pop("name")
print("child1 ",child1)
print("baris ",baris)

child1  {'bday': '13 Oct 1997'}
baris  {'bday': '13 Oct 1997'}

> Daha önceden bahsettiğimiz referans ve kopyalama koşulları dictionaryler için de geçerli. Eğer bir dictionary kopyalamak istiyorsak `copy()` metotunu kullanmalıyız.

In [32]:
child1 = {
    "name" : "Baris",
    "bday" : "13 Oct 1997"
}

baris = child1.copy()

print("child1 ",child1)
print("baris ",baris)

child1  {'name': 'Baris', 'bday': '13 Oct 1997'}
baris  {'name': 'Baris', 'bday': '13 Oct 1997'}

In [33]:
child1.pop("name")
print("child1 ",child1)
print("baris ",baris)

child1  {'bday': '13 Oct 1997'}
baris  {'name': 'Baris', 'bday': '13 Oct 1997'}

> `copy()` metotu yerine `dict()` concstuctor'u da kullanılabilir.

In [35]:
child2 = {
    "name" : "vladimir",
    "bday" : "09 June 1994"
}

vladimir = dict(child2)

print("child1 ",child2)
print("vladimir ",vladimir)

child1  {'name': 'vladimir', 'bday': '09 June 1994'}
vladimir  {'name': 'vladimir', 'bday': '09 June 1994'}

In [36]:
child2.pop("name")
print("child2 ",child2)
print("vladimir ",vladimir)

child2  {'bday': '09 June 1994'}
vladimir  {'name': 'vladimir', 'bday': '09 June 1994'}

> `dict()` consturctor'u kopyalamanın dışında dictionary oluştururken de kullanılabilir.

In [37]:
car1 = dict(brand="Ford", model="Mustang", year=1964)
print(car1)
print("type of car1 is ",type(car1))

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
type of car1 is  <class 'dict'>

> **Nested Dictionary'ler**

In [38]:
family = {
    "john":{
        "age":46
    },
    "ana":{
        "age":45
    },
    "peter":{
        "age":16
    }
}
print(family)

{'john': {'age': 46}, 'ana': {'age': 45}, 'peter': {'age': 16}}

In [39]:
print(family["john"])

{'age': 46}

In [40]:
print(family.keys())

dict_keys(['john', 'ana', 'peter'])

In [41]:
print(family.values())

dict_values([{'age': 46}, {'age': 45}, {'age': 16}])