In [0]:
print("MAI Practice")
c=input("Yazarın Adı:")
a= "MAI Practice"
print(a)
print(type(a))
print("Bu yazı {} tarafından yazılmıştır.".format(c))

b= 64
print(b)
print(type(b))

c= 64.0
print(c)
print(type(c))

d=(1,2,3,6,"helva",8,5)
print(d)
print(type(d))
print(d[1])

e= {"z":1,"x":2,"v":3}
print(e)
print(type(e))
print(type("z"))

f = [1,2,3,7,9,11,"armut"]
print(f)
print(type(f))
f.append(15)
print(f)
f.remove(9)
print(f)
f.insert(3,"apple")
print(f)

MAI Practice
Yazarın Adı:yavuz
MAI Practice
<class 'str'>
Bu yazı yavuz tarafından yazılmıştır.
64
<class 'int'>
64.0
<class 'float'>
(1, 2, 3, 6, 'helva', 8, 5)
<class 'tuple'>
2
{'z': 1, 'x': 2, 'v': 3}
<class 'dict'>
<class 'str'>
[1, 2, 3, 7, 9, 11, 'armut']
<class 'list'>
[1, 2, 3, 7, 9, 11, 'armut', 15]
[1, 2, 3, 7, 11, 'armut', 15]
[1, 2, 3, 'apple', 7, 11, 'armut', 15]

In [0]:
bir_say = 45
iki_say = 674
üc_say = 4

a= bir_say + iki_say
b= bir_say - iki_say
c= bir_say * iki_say
d= bir_say ** üc_say
e= bir_say / iki_say
f= iki_say // bir_say
g= iki_say % bir_say
h=divmod(iki_say,bir_say)
ı=bir_say*h[0]+h[1]


print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)
print(ı)

719
-629
30330
4100625
0.06676557863501484
14
44
(14, 44)
674

In [0]:
"THE REAL OPERATORS!!"
y=2
x=3
print(x==3)

x += 1
print(x)

x -= 1
print(x)

x *= 2
print(x)

x /= 3
print(x)

print(x != 2)
print(x != 2.0)
print(x is y)
print(id(x))
print(id(y))

"CHECKPOINT"
print("\n-------MAI--------------\n")

if (x == 2):
      print("True Predict!")

else: 
      print("False :(" )




"""
from itertools import islice

t=enumerate(zxc)
print(list(islice(t,3,8)))
print(list(islice(t,0,5)))
print(list(next(islice(t,3,5))))
"""

zxc=["a","s","d","f","g","h","j","k","l","ş","p","o","ı","u","y",
     "t","r"]

print(enumerate(zxc))
print(enumerate(zxc[7]))

cv=(enumerate(zxc))
print(type(cv))
print(list((enumerate(zxc[3]))))
print(list(enumerate(zxc)))

print(next(enumerate(zxc)))

for i in range (0,len(zxc)-5):
        print(i)
        
for i in range(2):
    next(cv)
print(next(cv))

        
for i in range (0,len(zxc)-5):
        print("\n",(next(enumerate(zxc[i]))))

for i in range (0,len(zxc)-5):
        print("\n",(list(enumerate(zxc[i]))))



import random
fg= 0
liste=[]
while fg != 10 :
    fg+=1
    liste.append(random.randint(0,2))

print(liste)

True
4
3
6
2.0
False
False
False
139703058210656
10968832

-------MAI--------------

True Predict!
<enumerate object at 0x7f0f2711eea0>
<enumerate object at 0x7f0f2711eea0>
<class 'enumerate'>
[(0, 'f')]
[(0, 'a'), (1, 's'), (2, 'd'), (3, 'f'), (4, 'g'), (5, 'h'), (6, 'j'), (7, 'k'), (8, 'l'), (9, 'ş'), (10, 'p'), (11, 'o'), (12, 'ı'), (13, 'u'), (14, 'y'), (15, 't'), (16, 'r')]
(0, 'a')
0
1
2
3
4
5
6
7
8
9
10
11
(2, 'd')

 (0, 'a')

 (0, 's')

 (0, 'd')

 (0, 'f')

 (0, 'g')

 (0, 'h')

 (0, 'j')

 (0, 'k')

 (0, 'l')

 (0, 'ş')

 (0, 'p')

 (0, 'o')

 [(0, 'a')]

 [(0, 's')]

 [(0, 'd')]

 [(0, 'f')]

 [(0, 'g')]

 [(0, 'h')]

 [(0, 'j')]

 [(0, 'k')]

 [(0, 'l')]

 [(0, 'ş')]

 [(0, 'p')]

 [(0, 'o')]
[2, 1, 1, 0, 2, 0, 1, 0, 1, 1]

In [0]:
print("\n-------MAI-------------\n")
def function (x):
  return 2*x

print(function(3))

print("\n-------MAI-------------\n")

def function_2 (x,y):
  return x+y

print (function_2(2,3))
print("\n-------MAI-------------\n")

a=3

def function_3(x):
  a=x**2
  print(a)
  
function_3(5)
print (a)
#Fonksiyon içindeki atamalar dışarı yansımaz.
print("\n-------MAI-------------\n")

def function_4(x):
  x+=1
  print(x)
  if x== 10 :
    while True:
      x-=1
      print(x)
      if x==1:
        return "x="+ str(x) + "    \nFunction has stopped!"
  elif x==1:
    return "x="+ str(x) + "    \nFunction has stopped!"
  return function_4(x)

print(function_4(2))
print("\n-------MAI-------------\n")

def function_5(n):  
   if n == 1:  
       return n  
    else:  
       return n*function_5(n-1) 

print(function_5(5))
print("\n-------MAI-------------\n")

-------MAI-------------

6

-------MAI-------------

5

-------MAI-------------

25
3

-------MAI-------------

3
4
5
6
7
8
9
10
9
8
7
6
5
4
3
2
1
x=1
Function has stopped!

-------MAI-------------

120

-------MAI-------------

In [0]:
class MAI:
  avg=0
  ID=0
  def __init__ (self,name, surname, age, department, tel_num,salary,*arg):
    MAI.avg+=salary
    MAI.ID+=1
    self.name=name
    self.surname=surname
    self.age=age
    self.department=department
    self.tel_num=tel_num
    self.salary=salary
    
  def description(self):
        return "{} is {} years old".format(self.name, self.age)
  def salary_ (self):
        return "{} is earning {} $ in a month".format(self.name, self.salary)
  t=(MAI.avg / MAI.ID)
  def salary_test(self):
    t=(MAI.avg / MAI.ID)
    if self.salary < t:
      return "{} 's situation is :Low Salary".format(self.name)
    elif self.salary >= t:
      return "{} 's situation is :High Salary".format(self.name)
      
  def average_salary():
       return "Average salary of MAI members is: {}".format(t)
  

jack= MAI("Jack","Sparrow",23,"Sailing","0542674523",2500)
john= MAI("John","Volt",45,"Sailing","05353745693",3000)
johnny=MAI("Johnny","Bravo",34,"Body_Building","05327854691",5000)


print(jack.__dict__)
print(john.__dict__)
print(jack.salary_())
print(MAI.avg)
print(jack.salary_test())
print(johnny.salary_test())

{'name': 'Jack', 'surname': 'Sparrow', 'age': 23, 'department': 'Sailing', 'tel_num': '0542674523', 'salary': 2500}
{'name': 'John', 'surname': 'Volt', 'age': 45, 'department': 'Sailing', 'tel_num': '05353745693', 'salary': 3000}
Jack is earning 2500 $ in a month
10500
Jack 's situation is :Low Salary
Johnny 's situation is :High Salary

In [4]:
arm_bones=["humerus","scapula","clavicula","ulna","radius","scaphoid","lunatum","triquetrum","psiformis","trapezium"
                ,"trapoziedum", "capitatum", "hamatum","metacarpals","phalanges(h)"]

leg_bones=["femur","tibia","fibula","calcaneus","talus","medial cuneiform","lateral cuneiform","intermediate cuneiform",
                  "cuboid","metatarsals","phalanges","phalanges(f)"]

neurocranium=["os_occipitalis", "os_parietalis","os_frontalis","os_sphenoidalis","os_ethmoidalis","os_nasalis","os_lacrimalis","os_lacrimalis","os_zygomaticus",
             "os_palatina","inferior nasal concha","vomer","mandibula","os_maxillae"]

vertebra=[]
pelvis_bones=["sacrum","coccyx","ilium","ischium","pubis"]
sesamoid_bones=["patella","pisiform","fabella"]
os_thorax=["hyoid","sternum","ribs"]

a=[arm_bones,leg_bones,neurocranium,vertebra,os_thorax,pelvis_bones,sesamoid_bones]

print(a)
len(a)

[['humerus', 'scapula', 'clavicula', 'ulna', 'radius', 'scaphoid', 'lunatum', 'triquetrum', 'psiformis', 'trapezium', 'trapoziedum', 'capitatum', 'hamatum', 'metacarpals', 'phalanges(h)'], ['femur', 'tibia', 'fibula', 'calcaneus', 'talus', 'medial cuneiform', 'lateral cuneiform', 'intermediate cuneiform', 'cuboid', 'metatarsals', 'phalanges', 'phalanges(f)'], ['os_occipitalis', 'os_parietalis', 'os_frontalis', 'os_sphenoidalis', 'os_ethmoidalis', 'os_nasalis', 'os_lacrimalis', 'os_lacrimalis', 'os_zygomaticus', 'os_palatina', 'inferior nasal concha', 'vomer', 'mandibula', 'os_maxillae'], [], ['hyoid', 'sternum', 'ribs'], ['sacrum', 'coccyx', 'ilium', 'ischium', 'pubis'], ['patella', 'pisiform', 'fabella']]

7